.error404 {
    font-size: 45px;
    text-align: center;
    margin-top: 17%;
    margin-left: 35%;
    margin-right: 35%;
}

.error404__returnHome {
    background-color: var(--sharedes-pinkDark) !important;
    border: none !important;
    color: white !important;
    font-size: 30px !important;
    font-weight: 1000 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 60px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
}