@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body {
  --sharedes-pinkLight: #ffcbcb;
  --sharedes-pinkDeep: #ffa7a7;
  --sharedes-blueDeep: #c9fdff;
  --sharedes-blueLight: #dffeff;
  --sharedes-background: #fff4f4;
  --sharedes-blueDark: #283861;
  font-family: Caveat Brush !important;
  font-weight: lighter !important;
  background:
  linear-gradient(
    to top, 
    #ffcbcb,
    #fff4f4
  ) 
  !important;
  background-attachment: fixed !important;
}

.bb_f1{
  font-family: Caveat Brush !important;
  color: var(--sharedes-blueDark);
}

/* .cred_page{
  background: #eb01a5;
  background-image: 
  linear-gradient(
    to top, 
  rgba(255, 167, 167, 0.9),
  rgba(255, 203, 203, 0.6)
  ), 
  url(./assets/img/cred_back.jpg) !important;
  background-size: 100vw;
  height: 100vh !important;
  width: 100vw;
} */

.cred_card{
  padding: 30px;
  margin: 50px;
  width: 26rem;
  border-radius: 20px !important; 
}

.reg_card{
  width: 32rem;
}

.cred_container{
  padding: 10px !important;
}

.cred_pic{
  height: 10rem !important;
  width: 10rem !important;
  margin: 20px;
}

.log_input{
  margin: 20px !important;
}

.reg_input{
  margin: 20px !important;
}

.cred_button{
  border-radius: 200px !important;
}

.cred_title{
  font-size: 36px !important;
}

.cred_register{
  color:gray;
}