body {
  --sharedes-pinkLight: #ffcbcb;
  --sharedes-pinkDeep: #ffa7a7;
  --sharedes-blueDeep: #c9fdff;
  --sharedes-blueLight: #dffeff;
  --sharedes-background: #fff4f4;
  background-color: var(--sharedes-background);
}