@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

.background {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffe3e3;
  
}

.userInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: 24px 144px 8px 144px;
  justify-content: center;
  align-items: center;
  font-family: Caveat Brush;
  font-weight: bolder;
}

.pfp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 32px;
  margin-right: 32px;
  cursor: pointer;
  background-color: firebrick;
}

.modalWindow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 56px;
  margin-left: 32px;
  margin-right: 32px;
}

.stats {
  flex-grow: 2;
  flex-shrink: 1;
  justify-self: left;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  place-items: center;
  margin: 0px 12px 0px 12px;
}

.number {
  font-size: 72px;
}

.text {
  font-size: 36px;
  margin: 0px 24px 0px 24px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 8px 24px 32px 24px;
  padding-top: 16px;
}