.dbox {
    border-bottom: 4px solid lightgray;
    padding: 20px;
}

.dbox_drawing_cont{
    border-radius: 20px !important;
    height:20rem !important;
}

.dbox_drawing{
    border-radius: 20px !important;
}

.dbox_profile{
    height: 5rem !important;
    width: 5rem !important;
}

#dbd{
    height: auto; 
    width: auto; 
    max-width: 15rem !important; 
    max-height: 15rem !important;
}

.drawBox > form {
    display: flex;
    flex-direction: column;
}

.drawBox__input {
    padding: 20px;
    display: flex;
}

.drawBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.drawBox__drawButton {
    background-color: #51e5eb !important;
    border: none !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: 1000 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 50px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
}