.feed {
  border-right: 1px solid lightgray;
  flex: 0.6;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  scrollbar-width: none;
  border-radius: 10px !important;
  top: 40px;
}

.feed__header {
  top: auto;
  background-color: var(--sharedes-blueDeep);
  z-index: 100;
  border: 1px solid lightgray;
  padding: 15px 20px;
}

.feed__header > h2 {
  font-size: 30px;
  font-weight: 800;
}
