.feed {
    border-right: 1px solid lightgray;
    flex: 0.6;
    min-width: fit-content;
    overflow-y: scroll;
    background-color: rgb(250, 255, 253);
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: var(--sharedes-blueDeep);
    z-index: 100;
    border: 1px solid lightgray;
    padding: 15px 20px;
} 

.feed__header > h2 {
    font-size: 30px;
    font-weight: 800;
}    