@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

.canvas {
  width: 350px !important;
  border-radius: 20px !important;
  padding: 2rem !important;
  /* background:     linear-gradient(
        to right, 
        rgb(201, 253, 255, 1),
        rgb(223, 254, 255, 1)
      ) !important;
   */
  background: linear-gradient(to right bottom, #57667e, #687fa3) !important;
  /* padding: 30px !important;
  padding-bottom: 0px !important; */
  z-index: -1 !important;
}

.colors {
  margin: 10px !important;
}

.modalBg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;

  border-style: hidden;
  border-radius: 24px;
  z-index: -1;
}

.modalNavbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 10%;
  padding-top: 16px;
  border-style: hidden;
  border-radius: 24px;
}

.navLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 50%;
  height: 100%;
  border-style: hidden;
  border-radius: 24px;
}

.navRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 50%;
  height: 100%;
  border-style: hidden;
  border-radius: 24px;
}

.submitButton {
  background: linear-gradient(to top left, #ffa7a7, #ffcbcb) !important;
  background-color: #ffa7a7 !important;
  border-radius: 10px !important;
  color: var(--sharedes-pinkDark) !important;
  height: 60% !important;
  width: 60% !important;
  font-family: Caveat Brush !important;
  font-size: 26px !important;
  margin-left: 7rem !important;
}

.modalContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 24px;
  border-style: hidden;
  border-radius: 24px;
}

.optionText {
  display: flex;
  justify-content: left;
  font-family: Caveat Brush;
  font-size: xx-large;
  font-weight: bolder;
  color: whitesmoke;
  cursor: default;
}
@media screen and (min-width: 300px) {
  .optionText {
    font-size: 20px !important;
  }
}

.options {
  flex-grow: 1;
  flex-shrink: 1;
}

.modalTools {
  display: flex;
  align-items: center;
  justify-content: left;
  /* padding-top: 16px; */
  font-size: 48px;
  cursor: pointer;
}
@media screen and (min-width: 300px) {
  .modalTools {
    font-size: 22px !important;
  }
}

.toolSelected {
  border-style: solid;
  border-color: #ffa7a7;
  background-color: #ffa7a725;
  border-radius: 50%;
  padding: 8px;
}

.toolNotSelected {
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  padding: 8px;
}

.whiteboard {
  background-color: whitesmoke;
  border-radius: 10px !important;
  border-style: hidden;
  cursor: pointer;
}
@media screen and (min-width: 300px) {
  .whiteboard {
    width: 320px !important;
    height: 320px !important;
  }
}

.modalSlider {
  display: flex;
  align-items: center;
  justify-content: left;
  /* margin-left: 64px;
  margin-right: 64px; */
  cursor: pointer;
}

.colorsGrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  margin-bottom: auto;
}
.colorButton {
  margin: 5px !important;
  border: 3px solid var(--sharedes-pinkDeep) !important;
  cursor: pointer;
}

.bi_btn {
  font-size: 36px;
  color: #ffa7a7;
  border: 3px solid var(--sharedes-pinkDeep) !important;
  margin: 3px !important;
  border-radius: 200px;
  margin-right: 10px !important;
  cursor: pointer;
}
@media screen and (min-width: 300px) {
  .bi_btn {
    font-size: 20px !important;
  }
}

.colorButton:hover {
  opacity: 0.7;
}
