.nav {
  box-shadow: 0 3px 6px lightgray !important;
  background: linear-gradient(
    to right,
    rgb(201, 253, 255, 1),
    rgb(223, 254, 255, 1)
  ) !important;
  display: inline-flex !important;
  flex-direction: row !important;
}

.nav_text {
  font-family: Caveat Brush !important;
  color: var(--sharedes-blueDark);
}

.nav_title {
  font-weight: bolder !important;
  font-size: 40px !important;
}
@media only screen and (min-width: 300px) {
  .nav_title {
    font-size: 20px !important;
  }
}

.nav_logo {
  display: flex !important;
  flex-direction: row !important;
  display: flex !important;
}
@media only screen and (min-width: 300px) {
  .nav_logo {
    width: 40px !important;
  }
}

.nav_name {
  font-weight: normal !important;
  font-size: 25px !important;
  display: flex !important;
}
@media only screen and (min-width: 300px) {
  .nav_name {
    visibility: hidden;
  }
}

.nav_btn {
  color: var(--sharedes-blueDark);
  display: flex !important;
}
@media only screen and (min-width: 300px) {
  .nav_btn {
    width: 1rem;
    height: 1rem;
  }
}
@media only screen and (min-width: 300px) {
  .nav_prof_pic {
    width: 0.5rem;
    height: 0.5rem;
  }
}
